<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head
        th:insert="fragments.html :: headerfiles">
    <![endif]-->
</head>
<body>
<header th:insert="fragments.html :: nav"></header>

<div class="container ">
    <div class="row">
        <article class="col-sm-6">
            <header>
                <h3 class="display-2" th:text="${error}">Error</h3>
            </header>
            <section >
                <p class="display-4" th:text="${message}">Message.</p>
            </section>
            <section >
                <p class="display-4" th:text="${timestamp}">Timestamp</p>
            </section>
            <section >
                <p class="display-4" th:text="'Error'+${path}">Path</p>
            </section>
            <section >
                <p class="display-4" th:text="${exception}">Exception</p>
            </section>
        </article>
        <img src="images/john.gif"  class="col-md-6" alt="John?" style="height: 50%">
    </div>
</div>

</body>
</html>