<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:style="http://www.w3.org/1999/xhtml" lang="en">

<head th:fragment="headerfiles">
    <title>BikeShop</title>
    <meta charset="UTF-8"/>
    <link th:href="@{~/bootstrap.min.css}" rel="stylesheet" href="bootstrap.min.css">
    <link th:href="@{~/fontawesome/css/all.css}" rel="stylesheet" href="fontawesome/css/all.css">
</head>

<body>

<div th:fragment="nav">
   <nav class="navbar navbar-expand-lg navbar-light bg-white">
       <div class="d-flex flex-grow-1 align-items-center">
          <a class="navbar-brand d-none d-lg-inline-block" th:href="@{~/}"><img src="/images/bikeShopLogo.png" height="50" alt="logo"></a>
       </div>
       <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
           <form class="form-inline" th:action="@{~/search}">
               <div class="input-group">
                   <div class="input-group-prepend">
                       <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                   </div>
                   <input  id="query" class="form-control col-sm-8" placeholder="Search BikeShop..." th:name="query" th:value="${query}" type="text" minlength="4">
               </div>
           </form>
           <ul class="navbar-nav ml-auto flex-nowrap">
               <li class="nav-item">
                   <a class="nav-link m-2 menu-item nav-active" href="#" th:href="@{~/}"><i class="fa fa-home"></i>Home</a>
               </li>
               <li class="nav-item">
                   <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link m-2 menu-item" href="#" th:href="@{~/admin/adminhome}"><i class="fas fa-toolbox"></i> Admin</a>
               </li>
               <li class="nav-item">
                   <a sec:authorize="hasRole('ROLE_USER')" class="nav-link m-2 menu-item" href="#" th:href="@{~/user/orderHistory}">
                       <i class="fa fa-user" aria-hidden="true"></i> My orders
                   </a>
               </li>
               <li class="nav-item">
                   <a sec:authorize="hasRole('ROLE_USER')" class="nav-link m-2 menu-item" href="#" th:href="@{~/shoppingCart}">
                       <i class="fas fa-shopping-cart"></i> Cart
                   </a>
               </li>
               <li class="nav-item">
                   <a class="nav-link m-2 menu-item" href="#">About us</a>
               </li>
               <li>
                   <div class="nav-link m-2 menu-item" sec:authorize="isAuthenticated()">Welcome <span sec:authentication="name"><strong>Anonymous</strong></span></div>
               </li>
               <li>
                   <div class="nav-link m-2 menu-item">
                       <form form-method="post" th:action="@{/logout}">
                           <button sec:authorize="isAuthenticated()" type="submit" class="btn btn-outline-secondary">Logout</button>
                       </form>
                       <form form-method="post" th:action="@{/login}">
                           <button sec:authorize="isAnonymous()" th:href="@{~/login}" type="submit" class="btn btn-outline-secondary"> Sign in </button>
                       </form>
                   </div>
               </li>
           </ul>
       </div>
   </nav>
</div>

<div th:fragment="footer">
<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2"  src="images/bikeShopLogo.png" alt="" height="28">
                <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Contact</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Like us </a></li>
                    <li>
                        <a href="#" class="text-muted"><i class="fab fa-facebook-square" style="font-size: 1.5rem; margin: 4px"></i></a>
                        <a class="text-muted" href="#"><i class="fab fa-twitter-square" style="font-size: 1.5rem"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
</div>
</body>
</html>